@tailwind base;
@tailwind components;
@tailwind utilities;
iframe {
  z-index: 0 !important;
}
.mooli {
  font-family: 'Mooli', sans-serif;
}
body {
  color: black;
  width: 100%;
  /*background: rgb(255,255,255);*/
  /*background: linear-gradient(293deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 38%, rgba(237,243,255,1) 48%, rgba(235,234,254,1) 55%, rgba(250,249,255,1) 63%, rgba(255,255,255,1) 100%);*/
  /*background-repeat: no-repeat;*/
  /*background-attachment:fixed;*/
  /*background-position: top;*/
  /*position: absolute;*/
  /*background-image: url("./icons/bg.png");*/
  /*background-size: contain;*/
  /*background-position: top;*/
  /*background-repeat: no-repeat;*/
  margin: 0;
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'IBM Plex Sans', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Mooli', sans-serif;*/
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*  sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input {
  -webkit-appearance: none !important;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
.ibmplex {
  font-family: 'IBM Plex Sans', sans-serif;
}
.btn {
  font-family: 'IBM Plex Sans', sans-serif;
}
.mochiy {
  font-family: 'Mochiy Pop One', sans-serif;
}
code {
  /*font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
  /*  monospace;*/
}
.show-password-img {
  transform: translateY(-37px)translateX(-10px);
  cursor: pointer;
}
.closed {
  transform: rotate(0deg);
  transition: transform 0.1s linear;
}
.open {
  transform: rotate(180deg);
  transition: transform 0.1s linear;
}
#colors {
  color: #f4595e;
}
#GameBoard {
  position: relative;
  margin: auto;
  border-style: solid;
}
#GameBoard .Block {
  position: absolute;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.animate-pulsee {
  animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1);
}
.animate-slide-in-right {
  animation: slide-in-right 500ms;
}
.animate-slide-in-left {
  animation: slide-in-left 500ms;
}
.fadeInEffect {
  animation: fadeIn 650ms ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.text-concat {
  position: relative;
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.2em;
}
.max-height-2 {
  max-height: 2.6em;
}
.footer {
background-image: linear-gradient(135deg,rgb(255 255 255/var(--glass-opacity,30%)) 0%,rgb(0 0 0/0%) 100%),linear-gradient(var(--glass-reflex-degree,100deg),rgb(255 255 255/var(--glass-reflex-opacity,10%)) 25%,rgb(0 0 0/0%) 25%)
}
.liner-gradient {
  background-image: linear-gradient(135deg,rgb(255 255 255/var(--glass-opacity,30%)) 0%,rgb(0 0 0/0%) 100%),linear-gradient(var(--glass-reflex-degree,100deg),rgb(255 255 255/var(--glass-reflex-opacity,10%)) 25%,rgb(0 0 0/0%) 25%)
}
.nav-liner-gradient {
  background-image: linear-gradient(135deg,rgb(255 255 255/var(--glass-opacity,30%)) 0%,rgb(0 0 0/0%) 100%),linear-gradient(var(--glass-reflex-degree,100deg),rgb(255 255 255/var(--glass-reflex-opacity,10%)) 25%,rgb(0 0 0/0%) 25%)
}

input {
  color: black;
}
textarea {
  color: black;
}
.step:before {
  height: .1rem!important;
}
.step:after { background-color: white!important; border: #7c3cfc solid 1px;}
.step:before { background-color: white!important; border: #7c3cfc solid 1px;}
.step-success:after { background-color: #7c3cfc!important; color: white!important; border: #7c3cfc solid 1px;}
.step-success:before { background-color: #7c3cfc!important;}

@media screen and (max-width: 768px) {
  /*.nav-liner-gradient {*/
  /*  background: black;*/
  /*}*/
  .footer {
    background: black;
  }
  .shadow-xl {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05)!important;
  }
  .table-zebra tbody tr:nth-child(2n) {
    background-color: #f1f1f1 !important;
  }
  .table :where(thead, tbody) :where(tr:not(:last-child)) {
    background-color: #f1f1f1 !important;
  }
}